Package: libyaml-libyaml-perl
Version: 0.76+repack-1
Architecture: amd64
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 103
Depends: perl (>= 5.28.1-3), perlapi-5.28.1, libc6 (>= 2.11), libyaml-0-2
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/YAML-LibYAML
Description: Perl interface to libyaml, a YAML implementation
 YAML::LibYAML (or YAML::XS) is a Perl interface to Kirill Siminov's libyaml
 library, a YAML Ain't Markup Language (YAML) implementation written in C to
 support the YAML 1.1 specification. The provided Dump and Load routines
 are compatible with the Perl YAML module (see libyaml-perl).
